.link-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: 33%;
  margin-top: 30px;
}
.brand-image {
  height: 120px;
  width: 220px;
}
.brand-name {
  font-family: 'Roboto';
  font-size: 25px;
  margin-left: 30px;
  color: #000000;
}
.products-count {
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 30px;
  color: #000000;
}
